<div class="mt-2">
  <strong>Features implemented: </strong>
  <span *ngFor="let feature of implemented; let isLast = last"
    >{{ feature }}{{ isLast ? "" : ", " }}
  </span>
</div>
<div class="mt-2">
  <strong>Features not implemented: </strong>
  <span *ngFor="let feature of notImplemented; let isLast = last"
    >{{ feature }}{{ isLast ? "" : ", " }}
  </span>
</div>

<div class="card mt-5">
  <p-table
    #dt
    [columns]="selectedColumns"
    [value]="employees"
    dataKey="name"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="[
      'name',
      'email',
      'alocari.client',
      'alocari.proiect',
      'alocari.data'
    ]"
    [tableStyle]="{ 'min-width': '60rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="table-header flex justify-content-between">
        <p-multiSelect
          [options]="cols"
          [(ngModel)]="selectedColumns"
          optionLabel="header"
          selectedItemsLabel="{0} columns selected"
          [style]="{ 'min-width': '200px' }"
          placeholder="Choose Columns"
        ></p-multiSelect>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Global Search"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 5rem"></th>
        <th *ngFor="let col of columns" pSortableColumn="{{ col.field }}">
          <div class="flex justify-content-between align-items-center">
            {{ col.header }}
            <p-sortIcon field="{{ col.field }}"></p-sortIcon>
          </div>
        </th>
      </tr>
      <tr>
        <th></th>
        <th *ngFor="let col of columns">
          <ng-container *ngIf="col.field === 'status'; else elseTemplate">
            <p-columnFilter type="boolean" field="status"></p-columnFilter>
          </ng-container>
          <ng-template #elseTemplate>
            <p-columnFilter
              type="text"
              field="{{ col.field }}"
              class="ml-auto"
            ></p-columnFilter>
          </ng-template>
        </th>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-employee
      let-expanded="expanded"
      let-columns="columns"
    >
      <tr>
        <td>
          <button
            type="button"
            pButton
            pRipple
            [pRowToggler]="employee"
            class="p-button-text p-button-rounded p-button-plain"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></button>
        </td>
        <td *ngFor="let col of columns; last as isLast">
          <ng-container *ngIf="!isLast; else elseColIsLastTemplate">
            {{ employee[col.field] }}
          </ng-container>
          <ng-template #elseColIsLastTemplate>
            <i
              class="pi"
              [ngClass]="{
                'text-green-500 pi-check-circle': employee.status,
                'text-red-500 pi-times-circle': !employee.status
              }"
            ></i>
          </ng-template>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-employee>
      <tr>
        <td colspan="7">
          <div class="p-3">
            <p-table
              [value]="employee.alocari"
              dataKey="{`${client}${proiect}${status}${data}`}"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="client">
                    Client <p-sortIcon field="client"></p-sortIcon>
                  </th>
                  <th pSortableColumn="proiect">
                    Proiect <p-sortIcon field="proiect"></p-sortIcon>
                  </th>
                  <th pSortableColumn="status">
                    Status <p-sortIcon field="status"></p-sortIcon>
                  </th>
                  <th pSortableColumn="data">
                    Data <p-sortIcon field="data"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-alocare>
                <tr>
                  <td>{{ alocare.client }}</td>
                  <td>{{ alocare.proiect ?? "(blank)" }}</td>
                  <td>{{ alocare.status }}</td>
                  <td>{{ alocare.data }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">There are no order for this product yet.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
