<div class="mt-2">
  <strong>Features implemented: </strong>
  <span *ngFor="let feature of implemented; let isLast = last"
    >{{ feature }}{{ isLast ? "" : ", " }}
  </span>
</div>
<div class="my-2">
  <strong>Features not implemented: </strong>
  <span *ngFor="let feature of notImplemented; let isLast = last"
    >{{ feature }}{{ isLast ? "" : ", " }}
  </span>
</div>

<dx-data-grid
  id="gridContainer"
  [dataSource]="employees"
  [keyExpr]="'name'"
  [allowColumnReordering]="true"
  [width]="'100%'"
  [showBorders]="true"
>
  <dxi-column dataField="id"></dxi-column>
  <dxi-column dataField="name"></dxi-column>
  <dxi-column dataField="email"></dxi-column>
  <dxi-column dataField="status"></dxi-column>

  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-paging [pageSize]="15"></dxo-paging>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping [autoExpandAll]="autoExpandAllVar || false"></dxo-grouping>
  <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
  <div *dxTemplate="let employee of 'detail'">
    <dx-data-grid
      key="`${alocari.client}${alocari.proiect}${alocari.status}${alocari.data}`"
      [dataSource]="employee.data.alocari"
      [showBorders]="true"
      [columnAutoWidth]="true"
    >
      <dxi-column dataField="client" dataType="string"></dxi-column>
      <dxi-column dataField="proiect" dataType="string"></dxi-column>
      <dxi-column dataField="status" dataType="boolean"></dxi-column>
      <dxi-column dataField="data" dataType="date"></dxi-column>
    </dx-data-grid>
  </div>
</dx-data-grid>
<div class="options">
  <div class="caption">Options</div>
  <div class="option">
    <dx-check-box
      id="autoExpand"
      [(value)]="autoExpandAllVar"
      text="Expand All Groups"
    >
    </dx-check-box>
  </div>
</div>
