<h1 class="text-center mt-8">Select a data grid provider</h1>
<h2 class="text-center">Data Grid</h2>
<div class="flex gap-5 mt-4 justify-content-center">
  <p-button label="AgGrid" routerLink="datagrid/ag-grid"></p-button>
  <p-button label="DevExtreme" routerLink="datagrid/devextreme"></p-button>
  <p-button label="PrimeNg" routerLink="datagrid/prime-ng"></p-button>
</div>
<h2 class="text-center">Drag and Drop</h2>
<div class="flex gap-5 mt-4 justify-content-center">
  <p-button label="DevExtreme" routerLink="dragndrop/devextreme"></p-button>
</div>
